.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;

  .title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
  }
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px 10px;
  align-content: space-between;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .cardlist {
    grid-template-columns: 1fr;
  }
}
